In [7]:
import pandas as pd
df=pd.read_csv("../data/patients.csv")
df.head()

   PatientID    Age  SEx  BloodPressure Cholesteroe  Diagnosis
0           1    45  130            150     Healthy         NaN
1           2    50  140            160     Healthy         NaN
2           3    60  150            170     Healthy         NaN
3           4    80  170            190     Healthy         NaN

In [1]:
df.describe()
df['SEx'].value_counts()
df['Diagnosis'].value_counts()

NameError: name 'df' is not defined

In [12]:
import pandas as pd
df=pd.read_csv("../data/patients.csv")
df.head()
df.describe()
df['SEx'].value_counts()
df['Diagnosis'].value_counts()

Diagnosis
Healthy    4
Name: count, dtype: int64

In [ ]:
import matplotlib.pylot as plt
plt.plot(df["Age"], df["Chlesterol"], marker="0")
plt.xlabel("Age")
plt.ylabel("Cholesterol")
plt.title("Cholesterol vs Age")
plt.show()